@charset "UTF-8";
* {margin: 0 auto; padding: 0; color: #333333; list-style: none;}
a {text-decoration: none;}

header {width: 100%; height: 100px; background-color: #1E8C9F;}
header .con_box {width: 1200px; height: 100px;}
header .logo {width: 200px; height: 100px; float: left; }
header nav {width: 1000px; height: 100px; float: left;  position: relative;}

ul.mainmenu {width: 640px; height: 50px; position: absolute; margin-right: 10px; left: 340px; top: 50px; 
    background-color: #8DC7D0; z-index: 100;}
ul.mainmenu > li {line-height: 50px; width: 160px; float: left; text-align: center; position: relative;}
ul.mainmenu > li > a {width: 160px; line-height: 50px; display: block; color: #ffffff;}

ul.mainmenu > li > a:hover {color: #ffffff; background-color: #703A7D;}
ul.submenu {height: 0px; z-index: 100; overflow: hidden; transition: height 1s;}
ul.submenu > li {height: 40px;}

ul.submenu > li > a {line-height: 40px; display: block; color: #075967; background-color: #BEE7EE;}
ul.submenu > li > a:hover {color: #075967; background-color: #8DC7D0;}
/*position: absolute → position: fixed (뷰포트 기준으로 위치 고정)*/
.submenu_bg {background-color: #BEE7EE; position: absolute; width: 1200px; height: 0px; left: -200px; top: 100px; z-index: 11; transition: height 1s;}

ul.mainmenu:hover ul.submenu {height: 160px;}
ul.mainmenu:hover + .submenu_bg {height: 160px;}

section {width: 100%; height: 300px; z-index: 10;}
section .con_box {width: 1200px; height: 300px; position: relative; overflow: hidden;}
.sld img {position: absolute; width: 1200px; height: 300px;}

img.sld_1 {
     animation-name:sld_1;
     animation-duration: 7s;
     animation-iteration-count: infinite;
}
      img.sld_2 {animation: sld_2 7s infinite;}
      img.sld_3{animation: sld_3 7s infinite;}

      @keyframes sld_1 {
         0%     {top: -300px;}
         33.33%  {top: -300px;}
         66.66% {top: 0px;}
         100%   {top: 300px;}
      }
      @keyframes sld_2 {
         0%     {top: -300px;}
         33.33%  {top: 0px;}
         66.66% {top: 300px;}
         100%   {top: 300px;}
      }
      @keyframes sld_3 {
         0%     {top: 0px;}
         33.33%  {top: 300px;}
         66.66% {top: -300px;}
         100%   {top: 0px;}
      }
      

article {width: 100%; height: 200px;}
article .con_box {width: 1200px; height: 200px;}
article .noti {float: left; width: 400px; height: 200px; background-color: #BEE7EE;}
.noti {width: 400px; height: 200px; float: left; background-color: rgb(243, 250, 255);}
.noti h3 {font-size: 23px; color: #075967; margin: 15px 0px 10px 16px;}
.noti ul {background-color: #d7eaed;}
.noti ul li {margin: 0px 0px 0px 20px;}
.noti ul li a p {color: #003366; float: left; width: 300px; line-height: 30px;}
.noti ul li a span {color: #003366; float: left;}

.gall {width: 400px; height: 200px; float: left;  background-color: #8DC7D0;}
.gall h3 {font-size: 23px; color: #075967; margin: 15px 0px 10px 16px;}
.gall li {float: left; text-align: center; margin: 0 15px 0 16px;}
.gall li a {float: left; color: #075967; font-size: 12pt;}
.gall img {width: 100px;}

article .link {float: left; width: 400px; height: 200px; background-image: url(../img/link_bg_3.jpg);}
.link .link_box {padding: 30px; margin-top: 10px;}
.link a {font-size: 15px; background-color: #BEE7EE; border-radius: 20px; color: #075967; padding: 5px; margin-right: 10px;}
.link a:hover {background-color: #1E8C9F; color: #BEE7EE;}



footer {width: 100%; height: 100px; background-color: #075967;}
footer .con_box {width: 1200px; height: 100px;}
footer .foot1 {float: left; width: 1000px; height: 100px; line-height: 100px;  text-align: center; color: #ffffff; font-size: 13.5px;}
footer .foot2 {float: left; width: 200px; height: 100px;}
footer .foot2_1 {width: 200px; height: 50px;}
.foot2_1 .sns li a {float: left; margin: 10px; margin-right: 15px; margin-top: 15px;}
.foot2_1 .sns li a img {width: 30px;}
footer .foot2_2 {width: 200px; height: 50px; background-color: #075967;}
footer .foot2_2 select {margin-left: 10px; width: 143px;}

/*팝업 스타일*/
#popup_bg {position: fixed; background-color: #cccccc90; width: 100%; height: 100%; left: 0; top: 0; z-index: 101;}
#popup {width: 600px; height: 400px; background-color: #1E8C9F; margin-top: 150px; border-radius: 20px;}
.phead {line-height: 90px; font-size: 35px; text-align: center; color: #ffffff;}
.ptext {text-align: center; font-size: 15px; line-height: 22px; background-color: #8DC7D0; border-radius: 15px; margin: 0 15px 15px 15px; padding: 10px 0 10px 0;}
.close {display: block; font-size: 30px; color: #ffffff; background-color: #4DB4C5; text-align: center;}

#popup_bg {visibility: hidden;}
#popup_bg:target {visibility: visible;}